/**
 * version: 4.9.18
 */
* {
    background: transparent;
    font-family: Lato, Helvetica, Arial, sans-serif;
    line-height: 100%;
    direction: ltr;
    color: #333;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    background: #fff;
}

body {
    padding: 0;
    margin: 0;
}

li,
li *,
pre, code {
    font-family: Courier, monospace !important;
    font-size: 13px;
    color: #0e32b1;
    direction: ltr!important;
}


li {
    color: #333;
}


pre, code {
    color: #0e32b1;
    line-height: 130%;
}

pre {
    margin-bottom: 5px;
    padding: 5px 60px;
}

strong {
    color: #9b1793;
    font-weight: bold;
}
strong.key {
    color: #c40f37;
    font-weight: bold;
}

em {
    font-style: normal;
    font-weight: bold;
    color: #555!important;
}

p {
    padding: 1px 20px;
    font-size: 13px;
    line-height: 150%;
    color: #444;
}

h1 {
    color: #7194ca;
    background-color: #dbf8ff;
    padding: 10px 20px;
    font-size: 22px;
    margin-bottom: 10px;
}

h1 + ul {
    margin-left: 35px!important;
}

h2 {
    border-top: 1px dotted #aaa;
    color: #5ac64a;
    padding: 10px 20px 7px 20px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

h2 + p {
    padding: 5px 40px!important;
    color: #444;
}

h2 + ul {
    margin-left: 50px!important;
    margin-top: 0;
}

h3 {
    color: #96b5e6;
    padding: 3px 40px;
    font-size: 16px;
    font-weight: bold;
}

h3 + p {
    padding: 2px 60px!important;
    font-family: Courier, monospace !important;
    font-size: 13px;
    color: #333;
}

h4 {
    border-top: 1px dotted #ccc;
    color: #9cd76c;
    padding: 10px 20px 7px 20px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

h4 + p {
    padding: 5px 40px!important;
    color: #444;
}

h4 + ul {
    margin-left: 50px!important;
    margin-top: 0;
}

h6 {
    border-top: 1px dotted #ccc;
    color: #e1f1d7;
    padding: 10px 20px 7px 20px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}


h6 + p {
    padding: 5px 40px!important;
    color: #444;
}

h6 + ul {
    margin-left: 50px!important;
    margin-top: 0;
}

h5 {
    color: #0e32b1;
    padding: 3px 40px;
    font-size: 16px;
    font-weight: bold;
}

h5.enum {
    margin-left: 40px;
}
ul.enum {
    margin-left: 110px;
}


ul {
    margin: 5px 75px 3px 75px;
}

li ul {
    margin: 0 50px 3px 50px!important;
}

li {
    padding: 2px 5px;
    font-size: 13px;
}

li p {
    padding: 0 0 10px 0;
}

a {
    color: #05a790;
    font-weight: bold;
    border-bottom: 1px solid #d2ffc7;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    border-bottom: 1px solid #ea5656;
    color: #ea5656;
}

label.database {
    font-size: 10px;
    color: #e1a40a;
}

.b-field {
    color: #638157;
}