.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: middle;
    background: transparent;
    font-family: Courier, monospace;
    font-size: 13px;
    font-weight: normal;
    line-height: 100%;
    color: #222;
}

p {
    line-height: 140%;
    padding: 3px 2px;
}

html {
    background: #fff;
    padding: 10px;
}

body {
    margin-bottom: 23px;
    white-space: normal !important;
}

input {
    border: 1px solid #aaa;
    padding: 5px;
    line-height: 1;
    width: 450px;
    height: 30px;
}

select {
    border: 1px solid #aaa;
    vertical-align: top;
    height: 30px;
    color: #0e32b1;
}

input, select{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input:focus {
    box-shadow: 0 0 2px #48a4ff;
}

button {
    background-color: #fff;
    border: 2px solid #48a4ff;
    padding: 0 14px;
    margin: 10px 0;
    height: 35px;
    color: #48a4ff;
    width: 200px!important;
    font-weight: bold;
}

textarea {
    border: 1px solid #cecece;
    width: 550px;
    height: 300px;
    padding: 5px;
    line-height: 160%;
}

input[type='checkbox'] {
    width: 15px;
    height: 15px;
}

.response-status {
    color: #3b8805;
    padding-bottom: 10px;
    font-weight: bold;
}

.success-container {
    color: #0035a0;
    border: 0;
    width: 500px;
    line-height: 140%;
}

.error-container {
    color: #b02c2c;
    font-weight: bold;
    line-height: 140%;
}

#left-pane {
    float: left;
    padding-right: 50px;
}

#right-pane {
    float: left;
    padding-left: 50px;
}

.result-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 26px;
}

li {
    position: relative;
}

.hoverable {
    transition: background-color .2s ease-out 0s;
    -webkit-transition: background-color .2s ease-out 0s;
    display: inline-block;
}

.hovered {
    transition-delay: .2s;
    -webkit-transition-delay: .2s;
}

.selected {
    outline-width: 1px;
    outline-style: dotted;
}

.collapsed>.collapsible {
    display: none;
}

.ellipsis {
    display: none;
}

.collapsed>.ellipsis {
    display: inherit;
}

.collapser {
    position: absolute;
    top: 1px;
    left: -1.5em;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}

.status {
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 628px;
    border-color: #c2c2c2;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0;
    border-left-width: 0;
    border-style: solid;
    border-top-right-radius: 4px;
    height: 16px;
    padding: 2px 7px 2px 4px;
    font-family: sans-serif;
    font-size: 12px;
    opacity: 0;
    background-color: #d2d2f6;
    color: #696969;
    transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    user-select: none;
    -webkit-user-select: none;
}

.status:not(:empty ) {
    opacity: 1;
}

.toolbox {
    font-family: sans-serif;
    font-size: 13px;
    opacity: .25;
    background-color: #d2d2f6;
    position: fixed;
    right: 0;
    top: 0;
    border-color: #c2c2c2;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-width: 0;
    border-right-width: 0;
    border-style: solid;
    border-bottom-left-radius: 4px;
    padding-bottom: 3px;
    transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    padding-left: 2px;
}

.toolbox:hover {
    opacity: 1;
}

.toolbox>* {
    padding-left: 3px;
    padding-right: 3px;
}

.toolbox>a {
    padding-left: 5px;
}

.toolbox>img {
    height: 14px;
    vertical-align: bottom;
    cursor: pointer;
}

body {
    white-space: pre;
    font-family: monospace;
}

.property {
    font-weight: bold;
}

.type-null {
    color: gray;
}

.type-boolean {
    color: firebrick;
}

.type-number {
    color: blue;
}

.type-string {
    color: green;
}

.callback-function {
    color: gray;
}

.collapser:after {
    content: "-";
}

.collapsed > .collapser:after {
    content: "+";
}

.collapsed>.ellipsis {
    display: inherit;
}

.ellipsis:after {
    content: " … ";
}

.collapsible {
    margin-left: 2em;
}

.hoverable {
    padding: 1px 2px;
    border-radius: 2px;
}

.hovered {
    background-color: rgba(235, 238, 249, 1);
}

.collapser {
    padding-right: 6px;
    padding-left: 6px;
}

#auth-form input {
    width: 150px;
}

#auth-form button {
    width: 135px!important;
    height: 30px!important;
    margin: 0;
}

#base-url {
    width: 450px;
}

#auth {
    width: 400px;
}

#lang {
    width: 50px;
}

#add-unit-test {
    border-color: #ff9d5a;
    color: #ff9d5a;
}

#add-pre-test,
#open-unit-test {
    border-color: #86cd37;
    color: #86cd37;
    margin-top: 0;
}

#method {
    width: 200px;
}

.pre-test-item {
    background-color: #ecffd8;
}

#added-tests {
    display: none;
    margin-bottom: 10px;
}

#assert {
    padding-top: 10px;
    display: none;
}

.test-box {
    display: block;
    padding: 3px;
    margin: 3px;
}
.test-title {
    display: block;
    float: left;
    padding: 5px;
    color: #222;
}
.test-url {
    padding: 0 5px;
    color: #777;
}
.test-passed {
    display: block;
    float: left;
    padding: 5px;
    width: 100px;
    background-color: #9de03f;
    color: white;
    font-weight: bold;
    text-align: center;
}
.test-failed {
    display: block;
    float: left;
    padding: 5px;
    width: 100px;
    background-color: #ff672d;
    color: black;
    font-weight: bold;
    text-align: center;
}

.request-data {
    display: none;
}

.request-data pre {
    color: #3b8805;
    margin-bottom: 10px;
}

#file-container {
    display: none;
    margin: 2px;
    padding: 2px 10px 10px 10px;
    background-color: #d6fff5;
}

#file-container div {
    margin: 0!important;
    padding: 0!important;
}

#file-key {
    width: 90px!important;
    margin-left: 2px!important;
    background-color: white;
}

#file-add-row {
    width: 90px!important;
    height: 30px!important;
}

#files {
    margin-left: 4px !important;
}

#files input {
    border: none;
}

